<div id="<%= dom_id prompt %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= prompt.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= prompt.description %>
  </p>

</div>
