<div class="mx-auto w-full mb-6">
  <h1 class="font-garamond font-bold text-4xl pb-6">Create Prompt</h1>

  <%= render "form", prompt: @prompt %>

  <%= link_to "Back to prompts", prompts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-gordita font-medium" %>
</div>
