@mixin highlight-bg($highlight-color) {
    $encoded-color: "%23" + str-slice(inspect($highlight-color), 2); // Remove '#' for URL encoding

    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="546.1" height="81.9" viewbox="0 0 546.1 81.9" fill="' + $encoded-color + '" preserveAspectRatio="none"><path d="M431.2 5.9c.8 0 1.6-.4 2.4-.4.8 0 1.6.6 2.4.6 3.3 0 6.5-1.3 9.1.4 4.1-.1 7.4-1 10.5.1 1.7-.7 3-.3 5.1-.1 4.3.4 8.5-.5 12.5.3 2.7.6 6.5-.4 10.1-.3 1.1 0 2.3.5 3.4.6 2.8.2 5.5-.4 8.1-.2 1.5.1 2.7.8 4.1.9 1.7.1 3.2-.5 5.1-.5 2.7 0 5.6 1 8.5 1.1.9 0 1.8-.5 2.7-.4 2.6.2 5.2 1.5 7.8 1.8 2.5.3 5-.7 7.1 1.2 3.7-.8 12.5-1.3 14.6 2.7-.5 2.2 1.5 2.5 1.4 3.7.1 1.5-1-.1-1.3.7-.4 1.4-1.7 1.9-2.6 2.8-3.8-1-5.2 3.1-4.3 3.2 2.6.2 6.3-1 7.1 1.2-1.2 1.6-6.4 3.2-4.9 4.9 2.1-1.3 4.4-.4 5.8.9-1.4 3.6-6.7 3.3-6.3 4.9.2 1.1-2.4 2-3.3 3.1-1.5.1.2 1.9 2.1 2.6-.5.8-1.1 1.3-1.6 2.1-6.9-2.6-4.2 2.8-.9 4.8-.7 2.6-5.2 1.7-5.6 4.5-4.1-1.7-1.4 5.4-1.6 6.4-3 .4-5.8 6.6-5 6 .3 0-.3 0 0 0 0 0 2.2 1.8 3.8 4.5-1.4 2.6-4.6 2.2-8.1 2.2-2.6 0-5.3 1.4-7.4.9.8 2.3 4.4 1.6 5.8 3.2-2.5 3-7 .1-11.8.3-1.7.1-3.3.9-4.4.8-1.5-.1-2.6-1.8-3.8-1.3-.3-2.1 5-1.6 7-2.6-1.7-2.1-3.8-.7-6.4-.8-.7 0-.1 1.2-.3 1.7-1.1-.2-1.6.3-2.4.4.1.6.6.8 1.4.6-.9 2-3.4 1.2-5.1.5-.7.5-1.4.9-2.3 1.1-1.3.5-76-.7-74-.7l-65.4-2.1-2-.2c-2.7-.7-8.9-1.7-10.4-1.2-.2.1-11.4-1-11.6-.9-1.8 0-2.9-1.4-4.4-.7-3.1 1.6-5.3 1.8-9.4 1.3-3.9 2-7.9-.7-11.8 1-1.1 0-1-1.2-2.1-1.3-5.7-.2-12.5 1.8-18.9.2-.6.2-10.7.4-16.9 1.1 0 0-14.3-.7-17.9 1.5-4.7-1.1-10.4-.9-14.9.4-2-.4-8.4-1.1-11.2-1.1-1.5 0-3.3.4-4 .8.7-.4.7.6 0 .3-.4-.6-1.2-.9-1.7-1.3-3.3.7-6.8-.2-10.8.3-1.6.2-3.1 1.3-4.7 1.5-1.3.1-2.5-.5-4.1-.6-2.6-.2-5.9.8-7.8.5-.9-.1-1.5-.9-2.4-1-1.8-.2-3.7.6-5.4.1-1.1.2-1.5 1-2.7 1.1-6.6-2-38 0-42.6-.2-1.1 0-8.7.2-12.8.1l-.1.1c-1.1 0-19.5.9-23.6.7-4.7-.2-9.1 2-13.1.7-2 2-9.4.5-11.8 2L71 79l-.5.2c-.3.3-2 .3-2 .9l.1-.1c-1.4-1.9-3.9-.6-6.2-.4-3.8.4-9.3-.6-13.2.3-2.4.6-4.2 2.6-6.7.5-5.3 1.4-12.9-1.2-18.6 1.5-1.3.2-1.4-.8-2.4-1-3.1.1-6.2.7-9.1.2-.9-.1-1.8-.9-2.7-.9-1.5-.1-2.6.6-4 .4-7.3-.6-5.7-7.2-4.5-13.8-.1-1.1-1.2-1.1-1.2-2.3 1.7-1.8 3.3-2.8 3.6-5.5.1-1-.7-2.1-.8-3.4-.1-2.7 0-6.2.1-8.8.4-.7 1.8-.5 2-1.4-.6-3.7-2.7-3.1-2.5-6.7 0-.8.8-1.2 1-2.1.3-1.7-.6-3.5-.1-5.7.1-1 .9-1.3 1.3-2.1-1.1-2.2.4-3.9-.8-6.4-.3-1.5 1.1-1.4 1.3-2.4-1.8-6.4 1.5-3.9.3-9.9.4-1 1.6-1.5 2.1-2.6 5.7-1.6 9.6 2.3 17.3 1.2.5-.1 1.4-.7 2-.7 1.2 0 2.5.7 3.7.6 1.9-.1 3.6-1.1 5.4-1.2 4.5-.1 9.4.9 13.2.3 3.3-.4 6.4-2.3 9.5-.2 6.7-1.9 13.3.6 19.2-1.5 1.9.3 3.5.3 4.4-1.1 4.7 1.3 10.5-3.3 14.5-.4 4.8-.8 10.4-.9 14.9.3l10.5-.8c3.2-.2 7.3.6 11.2.4 3.3-.2 6.3-.2 9.1-.2 3.7-.1 7.9-.9 10.5.7 7.4-1.5 16-.4 24-.6 2.2-.1 3.7-.1 5.8.2 2.6.3 5-.7 6.7-.9 1.5-.1 3.7.8 5.8.9 2.2.1 4.1-1.5 6.1.5 2.3-1.2 4.9-.4 6.4-1.9 1.2 1.1 2.5.2 4.1.2 8.2 0 18.9.2 26.4.3.8 0 1-.5 1.3-1 4.1-.1 9.6 1.3 12.9 0 1.1.1 1.9.5 2.7.9 3.7-.3 6.7-3.1 10.5-3 1.9.1 3.4 1 4.8.6 1.6-.6 4-.9 4.7.2 1.2-.2 2.1.1 3.4-.1.4-.1 1-.7 1.3-.7 1.1-.1 2.4.5 3.7.6 4.2.2 8.7-1.1 11.5.7 6.5 0 13.6-.1 20 .5 3 .3 5.7-.9 8.8-.9 1.2 0 2.2.6 3.4.6 1.3 0 16.7-1.6 23-1.6 1.3 0 2.7-.5 4-.4.6 0 1.1.6 1.7.6 3.7.5 7.7-.7 11.2.7 1.3-.2 14.8 2.5 14.8 2.5h11c1.4 0 2.7.9 4 1l34.3 1.1z"/></svg>');
    background-size: 100% 100%;
}

.marker-variation {
    .highlight {
        position: relative;
        background-size: 100% 100%;
        background-color: transparent;

        &.highlight-yellow {
            @include highlight-bg(#fef08a); // pastel yellow
        }

        &.highlight-blue {
            @include highlight-bg(#bae6fd); // soft blue
        }

        &.highlight-pink {
            @include highlight-bg(#fbcfe8); // light pink
        }

        &.highlight-green {
            @include highlight-bg(#99e27c); // light green
        }

        &.highlight-orange {
            @include highlight-bg(#edb880); // light orange
        }

        &.highlight--block {

            &::before,
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                opacity: 0.5;
                height: 70%;
                width: 100%;
                z-index: -1;
                background-size: 100% 100%;
            }

            &::before {
                top: -5%;
                left: 0;
                transform: rotate(7deg) translateY(-1em);
            }

            &::after {
                bottom: -10%;
                left: 0;
                transform: rotate(5deg) translateY(0.5em);
            }
        }
    }
}

svg path {
    fill: inherit;
}

.blog-card {
    background: white;
    min-height: 23rem;
    margin: 0 auto 40px;
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    // https://codepen.io/teddyzetterlund/pen/YPjEzP
    background-image: linear-gradient(180deg,
            white 3rem,
            #f0a4a4 calc(3rem),
            #f0a4a4 calc(3rem + 2px),
            transparent 1px),
        repeating-linear-gradient(to bottom,
            transparent,
            transparent 1.6rem,
            #ddd 1px,
            #ddd calc(1.6rem + 2px));
    background-position: top, 0 3rem;
}

.card-title {
    height: calc(3rem);
    font-size: 1.8em;
    line-height: 1em;
    text-align: left;
    white-space: normal;
    display: table;
    width: 100%;

    span {
        padding: 0 12px;
        display: table-cell;
        vertical-align: middle;
    }
}

.card-content {
    // height: 20rem;
    // width: 552px;
    padding: 0 14px 10px;
    top: 0;
    color: #333;
}

@media (min-width: 618px) {
    .blog-card {
        width: 576px;
    }

    .card-content {
        width: 576px;
    }
}